/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Top Bar */
/* Middle Bar */
/* Mobile Navigation */
.topbar {
  background-color: #006b04;
  padding: 10px 0;
}
.middle-bar {
  padding-top: 30px;
  padding-bottom: 10px;
}
#header.header-scrolled {
  .middle-bar {
    padding: 10px 0;
  }
  #envbtn {
    margin-top: 8px;
  }
  .main-nav a {
    color: $tertiary;
  }
}
.main-nav {
  // margin-top: 6px;
  margin-top: 0px;
  padding: 0;
  list-style: none;
  * {
    margin-top: 2px;
    padding: 0;
    list-style: none;
  }
  > ul {
    > li {
      text-transform: uppercase;
      position: relative;
      white-space: no-wrap;
      float: left;
    }
  }
  a {
    display: block;
    position: relative;
    color: $gray-1000;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 12px;
    font-family: $font-family-open-sans;
    font-weight: bold;
    &:hover {
      color: $gray-1000;
      text-decoration: none;
    }
  }
  a.fanav {
    font-size: 20px;
    padding-right: 7px;
    padding-top: 0px;
  }
  .active {
    > a {
      color: $gray-1000;
      text-decoration: none;
    }
  }
  li {
    &:hover {
      > a {
        color: $gray-1000;
        text-decoration: none;
      }
    }
  }
  .drop-down {
    ul {
      display: block;
      position: absolute;
      left: 0;
      top: calc(100% + 30px);
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      padding: 10px 0;
      background: $tertiary;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      transition: ease all 0.3s;
      a {
        padding: 10px 20px;
        font-size: 13px;
        color: $primary-600;
        &:hover {
          color: $primary-500;
        }
      }
      .active {
        > a {
          color: $primary-500;
        }
      }
      li {
        &:hover {
          > a {
            color: $primary-500;
          }
        }
      }
    }
    &:hover {
      > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
    }
    li {
      min-width: 180px;
      position: relative;
    }
    > a {
      &:after {
        content: "\f107";
        font-family: FontAwesome;
        padding-left: 10px;
      }
    }
    .drop-down {
      ul {
        top: 0;
        left: calc(100% - 30px);
      }
      &:hover {
        > ul {
          opacity: 1;
          top: 0;
          left: 100%;
        }
      }
      > a {
        padding-right: 35px;
        &:after {
          content: "\f105";
          position: absolute;
          right: 15px;
        }
      }
    }
  }
}
.mobile-nav {
  a.fanav {
    display: inline-block;
    font-size: 20px;
    padding-right: 7px;
    padding-top: 15px;
    color: $tertiary !important;
    &:focus {
      color: $tertiary !important;
    }
  }
  a {
    text-transform: uppercase;
    font-size: 12px;
    &:hover {
      color: $tertiary;
      text-decoration: none;
    }
  }
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -1100px;
  width: 100%;
  padding: 18px 25px 0 20px;
  background: rgb(9, 71, 9);
  transition: 0.4s;
  li {
    padding-left: 0;
    list-style: none;
    &:hover {
      > a {
        // color: $tertiary;
        text-decoration: none;
      }
    }
  }
  ul {
    padding: 0;
  }
  img {
    padding-left: 10px;
    max-width: 200px;
  }
  .active {
    > a {
      color: $tertiary;
      text-decoration: none;
    }
  }
  .drop-down {
    > a {
      &:after {
        content: "\f078";
        font-family: FontAwesome;
        padding-left: 10px;
        position: absolute;
        right: 15px;
      }
      padding-right: 35px;
    }
    ul {
      display: none;
      overflow: hidden;
    }
    li {
      padding-left: 20px;
    }
  }
  .active.drop-down {
    > a {
      &:after {
        content: "\f077";
      }
    }
  }
}
.mobile-reg-btn {
  float: left;
}
.border-btns {
  padding-top: 150px !important;
  &:after {
    content: "";
    display: block;
    height: 1px;
    border-bottom: 1px solid $tertiary;
    margin-top: 45px;
  }
}
.border-btns-user {
  padding-top: 20px !important;
  &:after {
    content: "";
    display: block;
    height: 1px;
    border-bottom: 1px solid $tertiary;
    margin-top: 10px;
  }
}
.btn-cnt:hover {
  opacity: 70% !important;
}
.btn-cnt:hover span {
  color: $gray-700;
}
.dropdown-menu {
  border-radius: 4px;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0 !important;
  .dropdown-item {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.6;
    letter-spacing: normal;
    color: $gray-800;
    padding-right: 28px;
    padding-left: 11px;
    border-bottom: 1px solid $gray-300;
    border-collapse: collapse;
    &:hover {
      color: $tertiary;
      background-color: #006b04;
      border-radius: 0;
      i {
        color: $gray-800;
      }
    }
  }
}
.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  i {
    margin: 18px 18px 0 0;
    color: $primary-600;
    background: $tertiary;
    padding: 5px 6px;
    border-radius: 4px;
    font-size: 10px;
  }
}
.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}
.mobile-nav-active {
  overflow: hidden;
  .mobile-nav {
    left: 0;
  }
  .mobile-nav-toggle {
    i {
      color: $primary-600;
    }
  }
}
@media (max-width: 768px) {
  .middle-bar {
    padding-top: 15px;
  }
  #header.header-scrolled {
    .middle-bar {
      padding: 15px 0;
    }
  }
  .center-mobile {
    display: table !important;
    margin: 0px auto 0px auto;
  }
  .mobile-nav a.fanav {
    padding-top: 0;
  }
}
@media (max-width: 1023px) {
  .mobi-links {
    display: block;
    position: relative;
    color: $tertiary;
    padding: 10px 20px;
    font-weight: 500;
  }
  .mobi-links-user {
    display: block;
    position: relative;
    color: $tertiary !important;
    padding: 10px 0;
    font-weight: 500;
  }
  .mob-marg-20 {
    margin-top: 20px !important;
  }
  .btm-marg-20 {
    margin-bottom: 20px !important;
    margin: auto;
    display: block;
    width: 180px;
  }
  .border-btns-user {
    padding-top: 0 !important;
    &:after {
      content: "";
      display: block;
      height: 1px;
      border-bottom: 1px solid $tertiary;
      margin-top: 10px;
    }
  }
}
